{% extends "main_page.html" %}

{% block content %}
{% for job in freelance %}
<div class="card" style="width: 18rem;">
    {% if job.photo %}
    <img src="{{job.photo.url}}" class="card-img-top" alt="...">
    {% else %}
    <img src="/static/null_image.png" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">name: {{job.name}}</h5>
        <p class="card-text">payment: {{job.payment}}</p>
        <a href="/freelance/{{job.id}}/" class="btn btn-primary">Подробнее</a>
    </div>
</div>
{% endfor %}
{% endblock content %}